.add-expense-form {
    max-width: 500px;
    margin: auto;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
  }
  
  .add-expense-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-expense-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-expense-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-expense-form button:hover {
    background-color: #555;
  }
  